<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <% include ../partials/head %>



    <!-- <script>
        var socket = io();
    </script> -->
    <p><%= username %></p>
    <style>
        #rooms {
            display: flex
        }
    </style>
</head>

<body>
    <div id="username" value="<%= username %>"></div>
    <div id="rooms">

        <div id="roomsWindow">RoomWindow
            <form action="javascript:;" onsubmit="searchRooms(searchTerm.value)"
                onkeyup="searchRooms(searchTerm.value)">
                <input id="searchTerm" autocomplete="off" />
                <input type="submit" value="search" />
            </form>
            <div id="searchResults">
                <ul id="roomList">

                </ul>
                <button onclick="addRoom('RoomOne')">Add Room</button>
                <button onclick="createRoom('RoomOne')">Create Room</button>

            </div>
        </div>


        <div id="chatWindow">CharWindow
            <div id="chatBoxes">


            </div>
            <div id="roomTabs">

            </div>




            <!-- <form action="javascript:;" onsubmit="sendMessage(messageText.value)">
                <input id="messageText" autocomplete="off" />
                <input type="submit" value="send" />
            </form> -->

        </div>



    </div>
    <div class="joinedRooms">
        <div id="roomTabs">

        </div>

        <div id="chatWindows">

        </div>
    </div>




</body>
<script type="text/javascript" src="/javascripts/lobby.js"></script>

</html>