<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script scr=""></script>
    <!-- <script>
        var socket = io();
    </script> -->
    <p><%= username %></p>

</head>

<body>
    <div class="findRooms">
        <input id="m" autocomplete="off" /><button>Search</button>
        <button onclick="addRoom('RoomOne')">Add Room</button>
    </div>
    <div class="joinedRooms">
        <div id="roomTabs">
            <div><button class="tablinks" onclick="openRoom(event, 'Room1')">Room1</button></div>
            <div><button class="tablinks" onclick="openRoom(event, 'Room2')">Room2</button></div>
            <div><button class="tablinks" onclick="openRoom(event, 'Room3')">Room3</button></div>
        </div>

        <div id="chatWindows">
            <div id="Room1" class="tabcontent" style="display:none">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </div>

            <div id="Room2" class="tabcontent" style="display:none">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </div>

            <div id="Room3" class="tabcontent" style="display:none">
                <ul id="messages"></ul>
                <form action="">
                    <input id="m" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>
    </div>




</body>
<script type="text/javascript" src="/javascripts/lobby.js"></script>

</html>