<!DOCTYPE html>
<html>

<head>
    <title>Socket.IO chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script scr=""></script>
    <!-- <script>
        var socket = io();
    </script> -->
    <p><%= username %></p>

</head>

<body>
    <div class="findRooms">
        <input id="m" autocomplete="off" /><button>Search</button>
        <button onclick="addRoom('RoomOne')">Add Room</button>
    </div>
    <div class="joinedRooms">
        <div id="roomTabs">

        </div>

        <div id="chatWindows">

        </div>
    </div>




</body>
<script type="text/javascript" src="/javascripts/lobby.js"></script>

</html>