<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>This is a Room page <%= title %></h1>
    <p>Users of this room can chat here</p>
</body>

</html>