<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to Web Chat App</p>

    <div></div>

    <div>
        <button onclick="location.href='/lobby'">Browse Rooms</button>
        <button onclick="location.href='/login'">Login</button>
        <button onclick="location.href='/register'">Register</button>
    </div>
</body>

</html>