<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../partials/head %>
</head>

<p>Register to Chat App</p>


<div>
    <div class="form-field">

    </div>
    <div class="form-field">
        <label>Email </label>
        <input id="email" type="text" autofocus>
    </div>
    <div class="form-field">
        <label>Username </label>
        <input id="username" type="text" autofocus>
    </div>
    <div class="form-field">
        <label>Password</label>
        <input id="password" type="text" autofocus>
    </div>
    <div class="form-field">
        <button id="btn" onclick="register()" style="background-color:lightblue"> Register </button>
    </div>
    <!-- <label>
        <input id="remember" type="checkbox" checked="false">Remember me
    </label> -->

</div>
<script type="text/javascript" src="/javascripts/register.js"></script>

</html>